USE [master]
GO
/****** Object:  Database [QuanLyCamDo]    Script Date: 6/2/2022 11:26:08 AM ******/
CREATE DATABASE [QuanLyCamDo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyCamDo', FILENAME = N'D:\SQL 2012\MSSQL11.SQLEXPRESS\MSSQL\DATA\QuanLyCamDo.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyCamDo_log', FILENAME = N'D:\SQL 2012\MSSQL11.SQLEXPRESS\MSSQL\DATA\QuanLyCamDo_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyCamDo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyCamDo]
GO
/****** Object:  StoredProcedure [USP_DoanhThuThang]    Script Date: 6/2/2022 11:26:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [USP_DoanhThuThang]
 @Thang int
as
	begin
		declare @TienPhieuLai float
		declare @TienThanhLy float
		declare @TienLaiChuoc float
		select @TienPhieuLai = SUM(ThanhTien) from PhieuLai where MONTH(NgayDongLai)=@Thang
		select @TienLaiChuoc = SUM(a.TienLai) from ChiTiet_PhieuChuoc a,SanPham b,PhieuChuoc c where a.MaSP=b.MaSP and MONTH(c.NgayChuoc)=@Thang and a.MaPhieuChuoc=c.MaPhieuChuoc
		select @TienThanhLy = SUM(b.GiaThanhLy-b.DinhGia) from ChiTiet_ThanhLy a,SanPham b,ThanhLy c where a.MaSP=b.MaSP and MONTH(c.NgayLap)=@Thang and a.MaThanhLy=c.MaThanhLy
		select @TienPhieuLai+@TienLaiChuoc+@TienThanhLy
	end

GO
/****** Object:  StoredProcedure [USP_DongLai]    Script Date: 6/2/2022 11:26:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [USP_DongLai]
as
	begin
		declare @TienPhieuLai float
		declare @TienPhieuChuoc float
		select @TienPhieuLai = SUM(ThanhTien) from PhieuLai 
		select @TienPhieuChuoc = SUM(TienLai) from ChiTiet_PhieuChuoc 
		select @TienPhieuLai+@TienPhieuChuoc
	end

GO
/****** Object:  StoredProcedure [USP_InHoaDonPhieuCam]    Script Date: 6/2/2022 11:26:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [USP_InHoaDonPhieuCam]
 @MaHDC int
 as
 begin

	 select a.MaHoaDonCam, c.TenKH ,c.DiaChi,c.SDT,c.CMND,c.NgayCapCMND, a.NgayLap , a.NgayHetHan , d.TenSP, d.DinhGia,e.LaiXuat,d.MauSac,d.HienTrang, a.TongTienCam
	from HoaDonCam a , ChiTiet_HoaDonCam b , KhachHang c  , SanPham d , LoaiSP e
	where a.MaHoaDonCam = b.MaHoaDonCam and d.MaSP = b.MaSP and d.MaLoai = e.MaLoai and a.MaKH = c.MaKH and a.MaHoaDonCam = @MaHDC AND B.MaHoaDonCam = @MaHDC
 end

GO
/****** Object:  StoredProcedure [USP_InHoaDonPhieuChuoc]    Script Date: 6/2/2022 11:26:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [USP_InHoaDonPhieuChuoc]
 @MaPC int
 as
 begin

	 select a.MaPhieuChuoc , c.MaHoaDonCam, f.TenKH , f.SDT,f.CMND,f.DiaChi,c.NgayLap ,a.NgayChuoc,d.MaSP,e.TenLoai,d.TenSP,d.DinhGia,e.LaiXuat,b.TienLai,b.TongTien as ThanhTien,a.TongTien
	from PhieuChuoc a , ChiTiet_PhieuChuoc b , HoaDonCam c , SanPham d , LoaiSP e , KhachHang f
	where a.MaHoaDonCam = c.MaHoaDonCam and b.MaSP = d.MaSP and b.MaPhieuChuoc = a.MaPhieuChuoc and d.MaLoai = e.MaLoai and c.MaKH = f.MaKH and a.MaPhieuChuoc = @MaPC
 end

GO
/****** Object:  StoredProcedure [USP_InHoaDonPhieuDL]    Script Date: 6/2/2022 11:26:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [USP_InHoaDonPhieuDL]
 @MaPL int
 as
 begin

	 select a.MaPhieuLai, b.MaHoaDonCam , c.TenKH, c.SDT,c.CMND,c.DiaChi,b.NgayLap,a.NgayDongLai,a.ThanhTien,b.TongTienCam
	from PhieuLai a,HoaDonCam b, KhachHang c
	where a.MaHoaDonCam = b.MaHoaDonCam and b.MaKH = c.MaKH and a.MaPhieuLai = @MaPL
 end

GO
/****** Object:  StoredProcedure [USP_InHoaDonPhieuTL]    Script Date: 6/2/2022 11:26:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [USP_InHoaDonPhieuTL]
 @MaTL int
 as
 begin

	 select a.MaThanhLy ,  f.TenKH , f.SDT,f.CMND,f.DiaChi,a.NgayLap ,d.MaSP,e.TenLoai,d.TenSP,d.GiaThanhLy,a.TongTienThanhLy
	from ThanhLy a , ChiTiet_ThanhLy b  , SanPham d , LoaiSP e , KhachHang f
	where a.MaThanhLy = b.MaThanhLy and b.MaSP = d.MaSP and d.MaLoai = e.MaLoai and a.MaKH = f.MaKH and a.MaThanhLy=@MaTL
 end

GO
/****** Object:  StoredProcedure [USP_TimHoaDonCamByDate]    Script Date: 6/2/2022 11:26:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [USP_TimHoaDonCamByDate]
@datein date , @dateout date
as
begin
	select  a.MaHoaDonCam,b.TenKH,a.NgayLap,a.NgayHetHan,a.TongTienCam
	from KhachHang b,HoaDonCam a
	where  a.MaKH=b.MaKH and  a.NgayLap between @datein and @dateout
end

GO
/****** Object:  StoredProcedure [USP_TimHoaDonChuocByDate]    Script Date: 6/2/2022 11:26:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [USP_TimHoaDonChuocByDate]
@datein date , @dateout date
as
begin
	select  a.MaPhieuChuoc , b.MaHoaDonCam , a.NgayChuoc, a.TongTien
	from PhieuChuoc a,HoaDonCam b
	where  a.MaHoaDonCam=b.MaHoaDonCam and  b.NgayLap >= @datein and a.NgayChuoc<= @dateout
end

GO
/****** Object:  StoredProcedure [USP_TimHoaDonTLByDate]    Script Date: 6/2/2022 11:26:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [USP_TimHoaDonTLByDate]
@datein date , @dateout date
as
begin
	select  a.MaThanhLy , b.TenKH , a.NgayLap,a.TongTienThanhLy
	from ThanhLy a,KhachHang b
	where  a.MaKH=b.MaKH and  a.NgayLap between @datein and @dateout
end

GO
/****** Object:  StoredProcedure [USP_TinhTienLai]    Script Date: 6/2/2022 11:26:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [USP_TinhTienLai]

 @NgayHienTai date , @MaHDC int

as
	begin
		declare @SoNgayDaCam int 
		 select @SoNgayDaCam =  DATEDIFF(day,NgayDongLai,@NgayHienTai) from HoaDonCam  where  MaHoaDonCam = @MaHDC
		 select  @SoNgayDaCam * (c.LaiXuat * b.DinhGia) / 100 from ChiTiet_HoaDonCam a, SanPham b , LoaiSP c ,HoaDonCam d where a.MaSP =b.MaSP and b.MaLoai = c.MaLoai and a.MaHoaDonCam = d.MaHoaDonCam  and b.DaChuoc = 0 and b.DaThanhLy= 0 and b.QuaHan = 0 and b.ThanhLy = 0 and d.MaHoaDonCam = @MaHDC
	end

GO
/****** Object:  StoredProcedure [USP_UpdateNgayDongLaiHDC]    Script Date: 6/2/2022 11:26:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



create proc [USP_UpdateNgayDongLaiHDC]
@MaHDC int

as
	begin
		declare @NgayDongLai date
		select @NgayDongLai = NgayDongLai from PhieuLai where MaHoaDonCam = @MaHDC
		update HoaDonCam set NgayDongLai = @NgayDongLai where MaHoaDonCam = @MaHDC
	end

GO
/****** Object:  StoredProcedure [USP_UpdateQuaHan]    Script Date: 6/2/2022 11:26:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create proc [USP_UpdateQuaHan]
@NHT Date
as
	begin
		declare @NgayHetHan Date
		select @NgayHetHan = NgayHetHan from HoaDonCam 
		if @NHT > @NgayHetHan
			update SanPham set QuaHan = 1 from HoaDonCam a , SanPham b , ChiTiet_HoaDonCam c where a.MaHoaDonCam = c.MaHoaDonCam and b.MaSP = c.MaSP and b.DaChuoc = 0 and b.ThanhLy = 0 and b.DaThanhLy = 0
	end

GO
/****** Object:  StoredProcedure [USP_UpdateTienPhieuChuoc]    Script Date: 6/2/2022 11:26:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [USP_UpdateTienPhieuChuoc]
@MaPC int
as
	begin
		declare @TT float
		SELECT @TT = ISNULL(SUM(TongTien),0) FROM ChiTiet_PhieuChuoc WHERE MaPhieuChuoc = @MaPC
		update PhieuChuoc set TongTien = @TT where MaPhieuChuoc = @MaPC
	end

GO
/****** Object:  StoredProcedure [USP_UpdateTongTienHDC]    Script Date: 6/2/2022 11:26:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create proc [USP_UpdateTongTienHDC]
@Id_HDC int
as
	begin
		declare @TT float
		SELECT @TT = ISNULL(SUM(b.DinhGia),0) FROM ChiTiet_HoaDonCam a , SanPham b  WHERE a.MaSP = b.MaSP and a.MaHoaDonCam = @Id_HDC 
		update HoaDonCam set TongTienCam = @TT where MaHoaDonCam = @ID_HDC
	end

GO
/****** Object:  StoredProcedure [USP_UpdateTongTienThanHLy]    Script Date: 6/2/2022 11:26:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



create proc [USP_UpdateTongTienThanHLy]
@MaThanhLy int
as
	begin
		declare @TT float
		SELECT @TT = ISNULL(SUM(GiaThanhLy),0) FROM ChiTiet_ThanhLy a , SanPham b  WHERE a.MaSP = b.MaSP and MaThanhLy = @MaThanhLy 
		update ThanhLy set TongTienThanhLy = @TT where MaThanhLy = @MaThanhLy
	end

GO
/****** Object:  Table [ChiTiet_HoaDonCam]    Script Date: 6/2/2022 11:26:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ChiTiet_HoaDonCam](
	[MaHoaDonCam] [int] NOT NULL,
	[MaSP] [nvarchar](50) NOT NULL,
 CONSTRAINT [pk_CTHDC] PRIMARY KEY CLUSTERED 
(
	[MaHoaDonCam] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [ChiTiet_PhieuChuoc]    Script Date: 6/2/2022 11:26:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ChiTiet_PhieuChuoc](
	[MaPhieuChuoc] [int] NOT NULL,
	[MaSP] [nvarchar](50) NOT NULL,
	[TienLai] [float] NOT NULL,
	[TongTien] [float] NULL,
 CONSTRAINT [pk_CTPC] PRIMARY KEY CLUSTERED 
(
	[MaPhieuChuoc] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [ChiTiet_ThanhLy]    Script Date: 6/2/2022 11:26:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ChiTiet_ThanhLy](
	[MaThanhLy] [int] NOT NULL,
	[MaSP] [nvarchar](50) NOT NULL,
 CONSTRAINT [pk_HDTL] PRIMARY KEY CLUSTERED 
(
	[MaThanhLy] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [HoaDonCam]    Script Date: 6/2/2022 11:26:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HoaDonCam](
	[MaHoaDonCam] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[NgayLap] [date] NULL,
	[NgayHetHan] [date] NULL,
	[NgayDongLai] [date] NULL,
	[TongTienCam] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDonCam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [KhachHang]    Script Date: 6/2/2022 11:26:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](100) NOT NULL,
	[SDT] [int] NULL,
	[CMND] [int] NOT NULL,
	[NamSinh] [date] NULL,
	[DiaChi] [nvarchar](100) NULL,
	[NgayCapCMND] [date] NULL,
	[HinhAnh] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [LoaiSP]    Script Date: 6/2/2022 11:26:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LoaiSP](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](100) NOT NULL,
	[LaiXuat] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PhieuChuoc]    Script Date: 6/2/2022 11:26:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PhieuChuoc](
	[MaPhieuChuoc] [int] IDENTITY(1,1) NOT NULL,
	[MaHoaDonCam] [int] NOT NULL,
	[NgayChuoc] [date] NULL,
	[TongTien] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuChuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PhieuLai]    Script Date: 6/2/2022 11:26:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PhieuLai](
	[MaPhieuLai] [int] IDENTITY(1,1) NOT NULL,
	[MaHoaDonCam] [int] NOT NULL,
	[NgayDongLai] [date] NULL,
	[ThanhTien] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuLai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Quyen]    Script Date: 6/2/2022 11:26:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Quyen](
	[ID_Quyen] [int] IDENTITY(1,1) NOT NULL,
	[Name_Quyen] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Quyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [SanPham]    Script Date: 6/2/2022 11:26:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SanPham](
	[MaSP] [nvarchar](50) NOT NULL,
	[TenSP] [nvarchar](100) NOT NULL,
	[DinhGia] [float] NOT NULL,
	[GiaThanhLy] [float] NULL,
	[MaLoai] [int] NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[MauSac] [nvarchar](max) NULL,
	[HienTrang] [nvarchar](max) NULL,
	[NhangHieu] [nvarchar](max) NULL,
	[QuaHan] [bit] NULL,
	[DaChuoc] [bit] NULL,
	[ThanhLy] [bit] NULL,
	[DaThanhLy] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [TaiKhoan]    Script Date: 6/2/2022 11:26:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TaiKhoan](
	[UsersName] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](max) NULL,
	[ID_Quyen] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsersName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [ThanhLy]    Script Date: 6/2/2022 11:26:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ThanhLy](
	[MaThanhLy] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[NgayLap] [date] NULL,
	[TongTienThanhLy] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThanhLy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Tien]    Script Date: 6/2/2022 11:26:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Tien](
	[ID] [int] NOT NULL,
	[TongTien] [float] NULL,
	[DoanhThuThang] [float] NULL,
	[TongDoanhThu] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [ChiTiet_HoaDonCam] ([MaHoaDonCam], [MaSP]) VALUES (1, N'IMEI123')
INSERT [ChiTiet_HoaDonCam] ([MaHoaDonCam], [MaSP]) VALUES (1, N'IP')
INSERT [ChiTiet_HoaDonCam] ([MaHoaDonCam], [MaSP]) VALUES (2, N'IMEI456')
INSERT [ChiTiet_PhieuChuoc] ([MaPhieuChuoc], [MaSP], [TienLai], [TongTien]) VALUES (8, N'Asusu vivo111356', 9300, 19300)
INSERT [ChiTiet_PhieuChuoc] ([MaPhieuChuoc], [MaSP], [TienLai], [TongTien]) VALUES (8, N'Asusu vivo11135654', 9300, 19300)
INSERT [ChiTiet_PhieuChuoc] ([MaPhieuChuoc], [MaSP], [TienLai], [TongTien]) VALUES (9, N'Asusu vivo111', 9300, 19300)
INSERT [ChiTiet_ThanhLy] ([MaThanhLy], [MaSP]) VALUES (1, N'IMEI41')
INSERT [ChiTiet_ThanhLy] ([MaThanhLy], [MaSP]) VALUES (2, N'IMEI456')
SET IDENTITY_INSERT [HoaDonCam] ON 

INSERT [HoaDonCam] ([MaHoaDonCam], [MaKH], [NgayLap], [NgayHetHan], [NgayDongLai], [TongTienCam]) VALUES (1, 1, CAST(N'2022-04-16' AS Date), CAST(N'2022-05-15' AS Date), CAST(N'2022-04-16' AS Date), 50666)
INSERT [HoaDonCam] ([MaHoaDonCam], [MaKH], [NgayLap], [NgayHetHan], [NgayDongLai], [TongTienCam]) VALUES (2, 2, CAST(N'2022-05-03' AS Date), CAST(N'2022-05-13' AS Date), CAST(N'2022-05-03' AS Date), 10000)
INSERT [HoaDonCam] ([MaHoaDonCam], [MaKH], [NgayLap], [NgayHetHan], [NgayDongLai], [TongTienCam]) VALUES (3, 2, CAST(N'2022-05-01' AS Date), CAST(N'2022-05-14' AS Date), CAST(N'2022-05-01' AS Date), 20000)
SET IDENTITY_INSERT [HoaDonCam] OFF
SET IDENTITY_INSERT [KhachHang] ON 

INSERT [KhachHang] ([MaKH], [TenKH], [SDT], [CMND], [NamSinh], [DiaChi], [NgayCapCMND], [HinhAnh]) VALUES (1, N'Trần Nhị Ân', 919059069, 381909647, CAST(N'2020-05-19' AS Date), N'Cà Mau', CAST(N'2020-05-19' AS Date), N'1')
INSERT [KhachHang] ([MaKH], [TenKH], [SDT], [CMND], [NamSinh], [DiaChi], [NgayCapCMND], [HinhAnh]) VALUES (2, N'Nguyễn Chí Đang', 919059069, 381909647, CAST(N'2020-05-19' AS Date), N'Cà Mau', CAST(N'2020-05-19' AS Date), N'')
INSERT [KhachHang] ([MaKH], [TenKH], [SDT], [CMND], [NamSinh], [DiaChi], [NgayCapCMND], [HinhAnh]) VALUES (3, N'Phúc Ngu', 919059069, 381909647, CAST(N'2020-05-19' AS Date), N'Cà Mau', CAST(N'2020-05-19' AS Date), N'')
SET IDENTITY_INSERT [KhachHang] OFF
SET IDENTITY_INSERT [LoaiSP] ON 

INSERT [LoaiSP] ([MaLoai], [TenLoai], [LaiXuat]) VALUES (1, N'Điện thoại', 5)
INSERT [LoaiSP] ([MaLoai], [TenLoai], [LaiXuat]) VALUES (2, N'Máy tính', 3)
SET IDENTITY_INSERT [LoaiSP] OFF
SET IDENTITY_INSERT [PhieuChuoc] ON 

INSERT [PhieuChuoc] ([MaPhieuChuoc], [MaHoaDonCam], [NgayChuoc], [TongTien]) VALUES (3, 1, CAST(N'2020-05-19' AS Date), 0)
INSERT [PhieuChuoc] ([MaPhieuChuoc], [MaHoaDonCam], [NgayChuoc], [TongTien]) VALUES (4, 2, CAST(N'2020-05-19' AS Date), 0)
INSERT [PhieuChuoc] ([MaPhieuChuoc], [MaHoaDonCam], [NgayChuoc], [TongTien]) VALUES (5, 2, CAST(N'2020-05-19' AS Date), 0)
SET IDENTITY_INSERT [PhieuChuoc] OFF
SET IDENTITY_INSERT [PhieuLai] ON 

INSERT [PhieuLai] ([MaPhieuLai], [MaHoaDonCam], [NgayDongLai], [ThanhTien]) VALUES (1, 10, CAST(N'2022-05-17' AS Date), 3500)
INSERT [PhieuLai] ([MaPhieuLai], [MaHoaDonCam], [NgayDongLai], [ThanhTien]) VALUES (2, 9, CAST(N'2022-04-17' AS Date), 3500)
INSERT [PhieuLai] ([MaPhieuLai], [MaHoaDonCam], [NgayDongLai], [ThanhTien]) VALUES (5, 12, CAST(N'2022-05-18' AS Date), 9299.07)
SET IDENTITY_INSERT [PhieuLai] OFF
SET IDENTITY_INSERT [Quyen] ON 

INSERT [Quyen] ([ID_Quyen], [Name_Quyen]) VALUES (1, N'admin')
SET IDENTITY_INSERT [Quyen] OFF
INSERT [SanPham] ([MaSP], [TenSP], [DinhGia], [GiaThanhLy], [MaLoai], [MoTa], [MauSac], [HienTrang], [NhangHieu], [QuaHan], [DaChuoc], [ThanhLy], [DaThanhLy]) VALUES (N'Asusu vivo', N'Vivo book pro12', 100000, 0, 2, N'Điện thoại cầm tay', N'Xanhg', N'100%', N'IPHONE', 0, 0, 1, 0)
INSERT [SanPham] ([MaSP], [TenSP], [DinhGia], [GiaThanhLy], [MaLoai], [MoTa], [MauSac], [HienTrang], [NhangHieu], [QuaHan], [DaChuoc], [ThanhLy], [DaThanhLy]) VALUES (N'Asusu vivo1', N'Vivo book pro12', 10000, 0, 2, N'Điện thoại cầm tay', N'Xanh', N'100%', N'IPHONE', 0, 1, 0, 0)
INSERT [SanPham] ([MaSP], [TenSP], [DinhGia], [GiaThanhLy], [MaLoai], [MoTa], [MauSac], [HienTrang], [NhangHieu], [QuaHan], [DaChuoc], [ThanhLy], [DaThanhLy]) VALUES (N'Asusu vivo111', N'Vivo book pro12', 10000, 0, 2, N'Điện thoại cầm tay', N'Xanh', N'100%', N'IPHONE', 0, 1, 0, 0)
INSERT [TaiKhoan] ([UsersName], [Password], [ID_Quyen]) VALUES (N'admin', N'123', 1)
SET IDENTITY_INSERT [ThanhLy] ON 

INSERT [ThanhLy] ([MaThanhLy], [MaKH], [NgayLap], [TongTienThanhLy]) VALUES (1, 2, CAST(N'2022-05-16' AS Date), 4123123)
INSERT [ThanhLy] ([MaThanhLy], [MaKH], [NgayLap], [TongTienThanhLy]) VALUES (2, 1, CAST(N'2022-04-17' AS Date), 8888888)
SET IDENTITY_INSERT [ThanhLy] OFF
INSERT [Tien] ([ID], [TongTien], [DoanhThuThang], [TongDoanhThu]) VALUES (1, 1000000000, 50000000, 600000000)
ALTER TABLE [ChiTiet_HoaDonCam]  WITH CHECK ADD FOREIGN KEY([MaHoaDonCam])
REFERENCES [HoaDonCam] ([MaHoaDonCam])
GO
ALTER TABLE [ChiTiet_HoaDonCam]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [SanPham] ([MaSP])
GO
ALTER TABLE [ChiTiet_PhieuChuoc]  WITH CHECK ADD FOREIGN KEY([MaPhieuChuoc])
REFERENCES [PhieuChuoc] ([MaPhieuChuoc])
GO
ALTER TABLE [ChiTiet_PhieuChuoc]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [SanPham] ([MaSP])
GO
ALTER TABLE [ChiTiet_ThanhLy]  WITH CHECK ADD FOREIGN KEY([MaThanhLy])
REFERENCES [ThanhLy] ([MaThanhLy])
GO
ALTER TABLE [ChiTiet_ThanhLy]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [SanPham] ([MaSP])
GO
ALTER TABLE [HoaDonCam]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [KhachHang] ([MaKH])
GO
ALTER TABLE [PhieuChuoc]  WITH CHECK ADD FOREIGN KEY([MaHoaDonCam])
REFERENCES [HoaDonCam] ([MaHoaDonCam])
GO
ALTER TABLE [PhieuLai]  WITH CHECK ADD FOREIGN KEY([MaHoaDonCam])
REFERENCES [HoaDonCam] ([MaHoaDonCam])
GO
ALTER TABLE [SanPham]  WITH CHECK ADD FOREIGN KEY([MaLoai])
REFERENCES [LoaiSP] ([MaLoai])
GO
ALTER TABLE [TaiKhoan]  WITH CHECK ADD FOREIGN KEY([ID_Quyen])
REFERENCES [Quyen] ([ID_Quyen])
GO
ALTER TABLE [ThanhLy]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [KhachHang] ([MaKH])
GO
USE [master]
GO
